// .jornada-list {
//     .header-card {
//       margin-bottom: 20px;
//       padding: 15px;
//       text-align: center;
//     }
  
//     .jornada-card {
//       margin-bottom: 30px;
//       padding: 15px;
//       border-radius: 8px;
//       background-color: var(--mat-sys-surface);
//       color: var(--mat-sys-on-surface);
  
//       mat-card-title {
//         font-size: 18px;
//         font-weight: bold;
//       }
  
//       .partido {
//         margin-bottom: 15px;
  
//         p {
//           margin: 0;
//           line-height: 1.5;
//         }
  
//         .pendiente {
//           color: var(--mat-sys-error);
//           font-weight: bold;
//         }
//       }
//     }

//     .no-jornadas {
//       text-align: center;
//       font-size: 1.2rem;
//       color: #9e9e9e; /* Color gris */
//       margin: 20px 0;
//     }
//   }
  
.jornada-list {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;

  h2 {
    text-align: center;
    margin-bottom: 24px;
    color: var(--mat-mdc-theme-primary);
    font-size: 2rem;
  }

  .acciones {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    gap: 16px;
    padding: 16px;
    background-color: var(--mat-sys-surface);
    border-radius: 8px;

    .fecha-field {
      width: 250px;
    }

    button {
      height: 48px;
      font-size: 1rem;
    }
  }

  .no-jornadas {
    text-align: center;
    font-size: 1.2rem;
    color: #757575; // Gris claro
    margin: 20px 0;
  }

  .jornada-container {
    margin-bottom: 24px;

    .jornada-card {
      padding: 16px;
      transition: box-shadow 0.3s, transform 0.3s;

      &:hover {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
      }

      mat-card-title {
        font-size: 1.4rem;
        margin-bottom: 16px;
      }

      mat-card-content {
        .partido {
          margin-bottom: 16px;

          p {
            margin: 0 0 8px 0;
            line-height: 1.5;
          }

          .pendiente {
            color: var(--mat-mdc-theme-error);
            font-weight: bold;
          }

          button {
            margin-top: 8px;
          }
        }
      }
    }
  }
}
