.spacer {
    flex: 1 1 auto;
  }
  
  .logo {
    display: flex;
    align-items: center;
  
    span {
      margin-top: 6px;
      margin-left: 0px;
    }
  }
  
   mat-toolbar{
     background-color: var(--mat-sys-primary-container);
   } 

   .mat-icon-button {
      color: var(--mat-sys-on-inverse-primary);
   }

  mat-button {
    color: var(--mat-sys-on-primary-container);
    cursor: pointer;
    padding-right: 10px;
  }

button {
   margin-right: 16px;
}

.color-picker-menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 200px;
}

mat-select {
  margin: 10px 0;
}

label {
  font-size: 1rem;
  font-weight: bold;
}