<mat-toolbar fxLayout="row" class="mat-toolbar">
  <a [routerLink]="['/']" routerLinkActive="router-link-active" class="logo">
    <span><img src="assets/images/logo.jpg" alt="Logo de la aplicación"></span>
  </a>
  <span class="spacer" fxHide.xs fxShow.sm></span>
  <button
    mat-icon-button
    (click)="toggleDarkTheme()"
    aria-label="Toggle Dark Theme"
  >
    <mat-icon class="mat-icon-button">{{ isDark ? "dark_mode" : "light_mode" }}</mat-icon>
  </button>

  <span class="spacer" fxHide.xs fxShow.sm></span>

<!-- Icono de menú para seleccionar colores -->
<button mat-icon-button [matMenuTriggerFor]="colorMenu" aria-label="Seleccionar colores">
  <mat-icon>color_lens</mat-icon>
</button>

<!-- Menú para seleccionar colores -->
<mat-menu #colorMenu="matMenu">
  <div class="color-picker-menu">
    <div>
      <label for="primary-color">Selecciona el color primario:</label>
      <mat-select id="primary-color" [(value)]="primaryColor" (selectionChange)="updateTheme()">
        <mat-option *ngFor="let color of colorOptions" [value]="color">{{ color | titlecase }}</mat-option>
      </mat-select>
    </div>

    <div>
      <label for="secondary-color">Selecciona el color secundario:</label>
      <mat-select id="secondary-color" [(value)]="secondaryColor" (selectionChange)="updateTheme()">
        <mat-option *ngFor="let color of colorOptions" [value]="color">{{ color | titlecase }}</mat-option>
      </mat-select>
    </div>
  </div>
</mat-menu>

<span class="spacer" fxHide.xs fxShow.sm></span>
<span fxFlex fxHide.xs fxShow.sm></span>

  <mat-button [routerLink]="['/']">Inicio</mat-button>
  <mat-button [routerLink]="['/jugadores']" routerLinkActive="visited">Jugadores</mat-button>
  <mat-button [routerLink]="['/campeonatos']" routerLinkActive="visited" [routerLinkActiveOptions]="{exact: true}">Campeonatos</mat-button>
  <mat-button [routerLink]="['/inscripciones']">Inscripciones</mat-button>
  <mat-button [routerLink]="['/informes']">Informes</mat-button>
</mat-toolbar>