.example-form mat-slide-toggle {
    margin: 10px 10px 10px 10px;
    //display: block;
}

.example-form mat-form-field + mat-form-field {
    margin-left: 10px;
    margin-top: 10px;
}

p.alert{
    color: red !important;
    font-size:0.9em;
}