@use '@angular/material' as mat;

// Incluimos los estilos comunes de Angular Material
//@include mat.core();

// Definir paletas de colores
$primary-palette: mat.define-palette(mat.$deep-purple-palette, 400, 600, 800);
$accent-palette: mat.define-palette(mat.$teal-palette, 300, 200, 500);
$warn-palette: mat.define-palette(mat.$deep-orange-palette, 600);

// Tipografía personalizada
$custom-typography: mat.define-typography-config(
  $font-family:   'Roboto, sans-serif',
  $body-2:        mat.define-typography-level(16px, 28px, 500),
  $body-1:        mat.define-typography-level(16px, 28px, 400),
  $caption:       mat.define-typography-level(14px, 20px, 400),
  $button:        mat.define-typography-level(16px, 16px, 400),
);

// Definir tema claro
$custom-theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
  ),
  typography: $custom-typography,
));

// Aplicar tema a todos los componentes
@include mat.all-component-themes($custom-theme);
