<div class="jugador-form-container">
  <h2>{{ isEditing ? 'Editar Jugador' : 'Agregar Jugador' }}</h2>
  <form [formGroup]="jugadorForm" (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field>
      <mat-label>DNI</mat-label>
      <input matInput formControlName="dni" required>
      <mat-error *ngIf="jugadorForm.get('dni')?.invalid">
        DNI es requerido
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Nombre Completo</mat-label>
      <input matInput formControlName="nombreCompleto" placeholder="Ingresa el nombre completo" required>
      <mat-error *ngIf="jugadorForm.get('nombreCompleto')?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono" required>
      <mat-error *ngIf="jugadorForm.get('telefono')?.invalid">
        Teléfono es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Ingresa el email" required>
      <mat-error *ngIf="jugadorForm.get('email')?.hasError('required')">Este campo es obligatorio</mat-error>
      <mat-error *ngIf="jugadorForm.get('email')?.hasError('email')">Email no válido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Sexo</mat-label>
      <mat-select formControlName="sexo" required panelClass="mat-select-panel">
        <mat-option value="masculino">Masculino</mat-option>
        <mat-option value="femenino">Femenino</mat-option>
      </mat-select>
      <mat-error *ngIf="jugadorForm.get('sexo')?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado" required>
        <mat-option value="Activo">Activo</mat-option>
        <mat-option value="Inactivo">Inactivo</mat-option>
      </mat-select>
      <mat-error *ngIf="jugadorForm.get('estado')?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha de Alta</mat-label>
      <input matInput formControlName="fechaAlta" [matDatepicker]="picker" placeholder="Selecciona una fecha" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="jugadorForm.get('fechaAlta')?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="lesionado" style="forced-color-adjust: yes;">Lesionado</mat-checkbox>

    <div class="form-buttons">
      <button mat-raised-button classs="primary-button" type="submit">{{ isEditing ? 'Guardar Cambios' : 'Agregar Jugador' }}</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button class="error-button" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>