@media (forced-colors: active) {
  .mat-checkbox {
    background-color: ButtonFace;
    color: ButtonText;
    border: 1px solid ButtonText;
  }
}

.jugador-form-container {
  max-width: 800px;
  padding: 20px;
}
 
.form-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: left-start;
}

.example-form mat-form-field {
  margin-right: 10px;
}

p.alert{
  color: red !important;
  font-size:0.9em;
}

.mat-form-field {
  width: 100%;
}