    <h2>Detalles del Campeonato</h2>
    <div *ngIf="campeonato" class="container">
        <mat-card class="campeonato-card">
          <mat-card-title class="mat-card-title"> 
            {{ campeonato.year }} - {{ campeonato.categoria }} - División {{ campeonato.division }} 
          </mat-card-title>
          
          <mat-divider></mat-divider>
          
          <mat-card-content>
            <p>
              <strong>Activo:</strong> {{ campeonato.activo ? 'Sí' : 'No' }} <span class="tab"></span>
              <strong>Puntos por Victoria:</strong> {{ campeonato.puntosPorVictoria }} <span class="tab"></span>
              <strong>Puntos por Derrota:</strong> {{ campeonato.puntosPorDerrota }} <span class="tab"></span>
              <strong>Jugadores Inscritos:</strong> {{ jugadoresInscritos }} <span class="tab"></span>
            </p>
          </mat-card-content>

          <mat-divider></mat-divider>
         
          <mat-card-actions class="mat-card-actions">
            <mat-form-field appearance="fill" class="estado-selector">
              <mat-label>Estado</mat-label>
              <mat-select [formControl]="estadoControl">
                <mat-option value="Sin iniciar">Sin iniciar</mat-option>
                <mat-option value="En curso">En curso</mat-option>
                <mat-option value="Finalizado">Finalizado</mat-option>
              </mat-select>
            </mat-form-field>
            <span class="tab"></span>
            <button mat-button class="tertiary" routerLink="/jornadas/campeonato/{{ campeonato.id }}">
              <mat-icon>arrow_forward</mat-icon>Jornadas
            </button>
            <button mat-button class="tertiary" routerLink="/inscripciones/campeonato/{{ campeonato.id }}">
              <mat-icon>arrow_forward</mat-icon>Jugadores
            </button>
          </mat-card-actions>
        
        </mat-card>

        <div class="clasificacion-container">
          <h2>Clasificación</h2>
          <mat-table [dataSource]="clasificacion" class="mat-elevation-z8 clasificacion-table">
            <ng-container matColumnDef="posicion">
              <mat-header-cell *matHeaderCellDef> Posición </mat-header-cell>
              <mat-cell *matCellDef="let elemento"> 
              <span [ngClass]="{'gold': elemento.posicion === 1, 'silver': elemento.posicion === 2, 'bronze': elemento.posicion === 3}">
                {{ elemento.posicion }}
              </span> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="jugador">
              <mat-header-cell *matHeaderCellDef> Jugador </mat-header-cell>
              <mat-cell *matCellDef="let elemento"> {{ elemento.jugadorNombre }} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="puntos">
              <mat-header-cell *matHeaderCellDef> Puntos </mat-header-cell>
              <mat-cell *matCellDef="let elemento"> {{ elemento.puntos }} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="jugados">
              <mat-header-cell *matHeaderCellDef> Jugados </mat-header-cell>
              <mat-cell *matCellDef="let elemento"> {{ elemento.partidosJugados }} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="ganados">
              <mat-header-cell *matHeaderCellDef> Ganados </mat-header-cell>
              <mat-cell *matCellDef="let elemento"> {{ elemento.partidosGanados }} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="perdidos">
              <mat-header-cell *matHeaderCellDef> Perdidos </mat-header-cell>
              <mat-cell *matCellDef="let elemento"> {{ elemento.partidosPerdidos }} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="sets">
              <mat-header-cell *matHeaderCellDef> Sets </mat-header-cell>
              <mat-cell *matCellDef="let elemento">
                {{ elemento.setsGanados }} / {{ elemento.setsPerdidos }}
              </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="juegos">
              <mat-header-cell *matHeaderCellDef> Juegos </mat-header-cell>
              <mat-cell *matCellDef="let elemento">
                {{ elemento.juegosGanados }} / {{ elemento.juegosPerdidos }}
              </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
    </div>
    <button mat-raised-button class="primary-button" routerLink="/campeonatos">Volver</button>
