.primary-button {
   display: flex;
   margin-top: 20px;
}
  
// .secondary-button {
//   display: flex;
//   margin-top: 20px;
// }

// .tertiary-button {
//   display: flex;
//   margin: 10px;
// }

.clasificacion-container {
   margin-top: 20px;
   .mat-table {
     width: 100%;
     margin: auto;
   }
 }