.container {
  max-width: 1600px;
  margin: auto;
  padding: 20px;
  //color: darkslategrey !important;
  /*background-color: whitesmoke;*/
}

.spacer {
  flex: 1 1 auto;
}

.visited {
  //color: darkslategrey !important;
}