
.container {
  max-width: 1400px;
  min-width: 300px;
  margin: auto;
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  display: flex;
  align-items: center;

  span {
    margin-top: 6px;
    margin-left: 0px;
  }
}