<div class="container">
  <div class="header">
    <h2>{{ title }}</h2>

  <div class="header-actions">
    <button mat-raised-button color="primary" routerLink="/campeonatos/new">
      <mat-icon>add</mat-icon> Nuevo Campeonato
    </button>
  </div>
</div>

  <div
    class="campeonato-list"
    fxLayout="row wrap"
    fxLayoutGap="12px"
    *ngIf="campeonatos.length > 0; else noCampeonatos"
  >
    <mat-card
      *ngFor="let campeonato of campeonatos"
      fxFlex="98"
      fxLayout.xs="98"
      fxFlex.sm="98"
      fxFlex.md="48"
      fxFlex.lg="48"
      class="campeonato-card"
      [class.hovered]="selCampeonatoId === campeonato.id"
      (mouseover)="selCampeonatoId = campeonato.id"
      (mouseout)="selCampeonatoId = -1"
    >
      <mat-card-header>
        <mat-card-title>
          {{ campeonato.year }} - {{ campeonato.categoria | uppercase }} -
          División {{ campeonato.division }}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          <strong>Estado:</strong> {{ campeonato.estado | estadoFriendly }}<br />
          <strong>Activo:</strong> {{ campeonato.activo ? "Sí" : "No" }}<br />
          <strong>Puntos:</strong> {{ campeonato.puntosPorVictoria }} por
          victoria, {{ campeonato.puntosPorDerrota }} por derrota
        </p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button
          mat-stroked-button 
          class="primary"
          [routerLink]="['/campeonatos', campeonato.id]"
        >
        <mat-icon>visibility</mat-icon> Detalles
        </button>
        <button
          mat-stroked-button 
          class="tertiary"
          (click)="editCampeonato(campeonato.id)"
        >
        <mat-icon>edit</mat-icon> Editar
        </button>
        <button
          mat-stroked-button
          class="error"
          (click)="deleteCampeonato(campeonato.id)"
        >
        <mat-icon>delete</mat-icon> Eliminar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

<ng-template #noCampeonatos>
  <p class="no-data">No hay campeonatos disponibles.</p>
</ng-template>
</div>
