 
  <h2>Lista de Campeonatos</h2>
  <div *ngIf="campeonatos.length > 0; else noCampeonatos">
    <div class="container">
      <mat-card *ngFor="let campeonato of campeonatos">
        <mat-card-title>{{ campeonato.year }} - {{ campeonato.categoria }} - {{ campeonato.division }}</mat-card-title>
        <mat-card-content>
          <p>Activo: {{ campeonato.activo }}</p>
          <p>Estado: {{ campeonato.estado }}</p>
          <p>Puntos por victoria: {{ campeonato.puntosPorVictoria }}</p>
          <p>Puntos por derrota: {{ campeonato.puntosPorDerrota }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="editCampeonato(campeonato.id)">Editar</button>
          <button mat-button color="warn" (click)="deleteCampeonato(campeonato.id)">Eliminar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <ng-template #noCampeonatos>
    <p>No hay campeonatos disponibles.</p>
  </ng-template>
  