<div class="container">
  <h2>Lista de Campeonatos</h2>

  <div class="header-actions">
    <button mat-raised-button color="primary" routerLink="/campeonatos/new">
      Nuevo Campeonato
    </button>
  </div>

  <div
    class="campeonato-list"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayout.sm="row wrap"
    fxLayout.md="row wrap"
    fxLayout.lg="row wrap"
    fxLayout.xl="row wrap"
    fxLayoutGap="16px"
    *ngIf="campeonatos.length > 0; else noCampeonatos"
  >
    <mat-card
      *ngFor="let campeonato of campeonatos"
      fxFlex="50"
      fxLayout.xs="98"
      fxFlex.sm="98"
      fxFlex.md="48"
      fxFlex.lg="48"
      fxFlex.xl="48"
      class="campeonato-card"
      (mouseover)="selCampeonatoId = campeonato.id"
      (mouseout)="selCampeonatoId = -1"
    >
      <mat-card-header>
        <mat-card-title>
          {{ campeonato.year }} - {{ campeonato.categoria | uppercase }} -
          División {{ campeonato.division }}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          <strong>Estado:</strong> {{ campeonato.estado }}<br />
          <strong>Activo:</strong> {{ campeonato.activo ? "Sí" : "No" }}<br />
          <strong>Puntos:</strong> {{ campeonato.puntosPorVictoria }} por
          victoria, {{ campeonato.puntosPorDerrota }} por derrota
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-stroked-button
          color="primary"
          [routerLink]="['/campeonatos', campeonato.id]"
        >
          Detalles
        </button>
        <button
          mat-stroked-button
          color="tertiary"
          (click)="editCampeonato(campeonato.id)"
        >
          Editar
        </button>
        <button
          mat-stroked-button
          color="error"
          (click)="deleteCampeonato(campeonato.id)"
        >
          Eliminar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<ng-template #noCampeonatos>
  <p>No hay campeonatos disponibles.</p>
</ng-template>
