.example-card {
    margin-top: 20px;
    background: rgb(100, 150, 150);
}
  
.elevate{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 10px 20px 0 rgba(0,0,0,0.4);
}

button {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
}