.container {
    padding: 16px;
}

.header-actions {
    margin-bottom: 16px;
  }

  .table-container {
    overflow: auto; /* Hacer la tabla desplazable en dispositivos pequeños */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    min-width: 550px;
  }

.mat-form-field-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-header-row {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
}
  
.mat-row:hover {
    background-color: var(--mat-sys-secondary-container);
}

.buscar {
    padding: 20px 0px 0px 0px;
    margin-left: 20px;
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-paginator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.estado-activo {
    color: green;
    font-weight:normal;
}
  
.estado-inactivo {
    //color: red;
    color: var(--mat-sys-error);
    font-weight: normal;
}

.lesionado-no {
    color: green;
    font-weight:normal;
}
  
.lesionado-si {
    //color: red;
    color: var(--mat-sys-error);
    font-weight: normal;
}

.sexo-masculino {
    //color: rgb(102, 198, 230);
    color: var(--mat-sys-primary);
    font-weight:normal;
}
  
.sexo-femenino {
    //color: rgb(243, 130, 149);
    color: var(--mat-sys-tertiary);
    font-weight: normal;
}   