
<h1> 
  {{ title }}
</h1>

<div fxLayout fxLayoutAlign="center center" class="mat-form-field-wrapper">
  <mat-form-field fxFlex="30%" appearance="outline">
    <mat-label>Buscar</mat-label>
      <input matInput type="text" (keyup)="applyFilter($event)" placeholder="Buscar jugador">
  </mat-form-field>
</div>

<div class="list-container mat-elevation-z8">
  <table mat-table #table [dataSource]="jugadores" class="mat-table" matSort>
    <!-- Nombre Completo Column -->
    <ng-container matColumnDef="nombreCompleto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </th>
      <td mat-cell *matCellDef="let jugador"> {{jugador.nombreCompleto}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let jugador"> {{jugador.email}} </td>
    </ng-container>

    <!-- Sexo Column -->
    <ng-container matColumnDef="sexo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
      <td mat-cell *matCellDef="let jugador"> {{jugador.sexo}} </td>
    </ng-container>

    <!-- Estado Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let jugador"> {{jugador.estado}} </td>
    </ng-container>

    <!-- Lesionado Column -->
    <ng-container matColumnDef="lesionado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lesión </th>
      <td mat-cell *matCellDef="let jugador"> {{jugador.lesionado}} </td>
    </ng-container>

    <!-- Fecha Alta Column -->
    <ng-container matColumnDef="fechaAlta">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Alta </th>
      <td mat-cell *matCellDef="let jugador"> {{jugador.fechaAlta}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let jugador">
        <button mat-icon-button color="primary" (click)="verJugador(jugador)">
          <mat-icon class="mat-18">reorder</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="editarJugador(jugador)">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="borrarJugador(jugador)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dibujaColumnas"></tr>
    <tr mat-row *matRowDef="let row; columns: dibujaColumnas;"></tr>
  </table>

  <mat-paginator fxFlex="100%" #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" [showFirstLastButtons]="true"></mat-paginator>
</div>  