@import './assets/styles/dark-theme.scss';
@import './assets/styles/light-theme.scss';
@import './assets/styles/custom-typography';

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
}

/* Application-wide Styles */
h1 {
    font-size: 250%;
}
h2, h3 {
    font-weight: lighter;
}

// Aplicar fondo oscuro al body cuando se use el tema oscuro
body.dark-theme {
    background-color: #333; // Fondo gris oscuro
    color: #fff; // Texto blanco para mejor contraste
}