@use '@angular/material' as mat;

// Definir paletas de colores
$primary-palette: mat.define-palette(mat.$deep-purple-palette, 200, 400, 600);
$accent-palette: mat.define-palette(mat.$teal-palette, 200, 300, 500);
$warn-palette: mat.define-palette(mat.$deep-orange-palette, 600);

// Definir tema oscuro
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
  ),
  background: (
    default: #333, // Fondo gris oscuro
    app-background: #333,
    status-bar: black,
    app-bar: black,
    background: black,
    hover: black,
    card: black,
    dialog: black,
    disabled-button: black,
    raised-button: black,
    focused-button: black,
    selected-button: black,
    selected-disabled-button: black,
    disabled-button-toggle: black,
    unselected-chip: black,
    disabled-list-option: black
  )
));

// Aplicar tema a todos los componentes
@include mat.all-component-themes($dark-theme);

// Estilos para mat-card en tema oscuro
@include mat.card-theme($dark-theme);

// Ajuste adicional para mat-card en tema oscuro
mat-card.mat-card {
  background:rgba(30, 130, 130, 0.6); // Fondo oscuro en tema oscuro
  color: #ccc; // Texto claro en fondo oscuro
  margin-top: 10px;
}

// Aplicar fondo oscuro al body cuando se use el tema oscuro
body.dark-theme {
  background:rgb(60, 60, 60); // Fondo oscuro en tema oscuro
  color: #ccc; // Texto claro en fondo oscuro

}
