@use '@angular/material' as mat;

// Definir paletas de colores
$primary-palette: mat.m2-define-palette(mat.$m2-blue-gray-palette, 600);
$accent-palette: mat.m2-define-palette(mat.$m2-green-palette, A200);
$tertiary-palette: mat.$blue-palette;
$warn-palette: mat.m2-define-palette(mat.$m2-red-palette, 500);
$foreground-palette: mat.m2-define-palette(mat.$m2-blue-gray-palette, 200);
$background-palette: mat.m2-define-palette(mat.$m2-green-palette, 800);

// Definir tema oscuro
$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $primary-palette,
    tertiary: $tertiary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
    foreground: $foreground-palette,
    background: $background-palette
  ),
  density: (
    scale: 0,
  ),
  background-color: #333
));

// Aplicar tema a todos los componentes
@include mat.all-component-themes($dark-theme);

// Ajuste adicional para mat-card en tema oscuro
mat-card.mat-card {
  background: #4a536550; // Fondo oscuro en tema oscuro
  color: #ccc; // Texto claro en fondo oscuro
  margin-top: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

// Aplicar fondo oscuro al body cuando se use el tema oscuro
body.dark-theme {
  background:rgba(15, 15, 20, 0.9); // Fondo oscuro en tema oscuro
  color: #ccc; // Texto claro en fondo oscuro
}