
@use '@angular/material' as mat;

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$spring-green-palette,
    tertiary: mat.$orange-palette
  ),
  density: (
      scale: -1,
  )
));

// Definir el tema oscuro
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$spring-green-palette,
    tertiary: mat.$orange-palette
  ),
  density: (
    scale: -1,
  )
));

// Ajuste adicional para mat-card
.mat-card {
  margin: 15px 5px 0px 0px;
  box-shadow: 0 2px 10px rgba(40, 80, 30, 0.6);
  padding: 20px;
  border-radius: 10px;
}

.mat-card-title {
  font-size: 24px;
  font-weight: bold;
}

.mat-card-content {
  font-size: 16px;
}

.mat-card-actions {
  margin: 10px 10px 0px 0px; /* Agrega un margen de 10px en la parte superior, derecha e inferior, y 0 en la parte izquierda */
  cursor: pointer;
}

// Aplicar fondo claro al body cuando se use el tema claro
body.light-theme {
  color: #333; // Texto oscuro en fondo claro

  .tertiary-button {
    @include mat.button-color($light-theme, $color-variant: tertiary);
    @include mat.icon-button-color($light-theme, $color-variant: tertiary);
    @include mat.fab-color($light-theme, $color-variant: tertiary);
  }    

  .primary-button {
      @include mat.button-color($light-theme, $color-variant: primary);
      @include mat.icon-button-color($light-theme, $color-variant: primary);
      @include mat.fab-color($light-theme, $color-variant: primary);
  }

  .secondary-button {
      @include mat.button-color($light-theme, $color-variant: secondary);
      @include mat.icon-button-color($light-theme, $color-variant: secondary);
      @include mat.fab-color($light-theme, $color-variant: secondary);
  }

  .error-button {
      @include mat.button-color($light-theme, $color-variant: error);
      @include mat.icon-button-color($light-theme, $color-variant: error);
  }  
}

body.dark-theme {
  background:rgba(5, 15, 5, 0.9); // Fondo oscuro en tema oscuro
  color: #ccc; // Texto claro en fondo oscuro

  .tertiary-button {
    @include mat.button-color($dark-theme, $color-variant: tertiary);
    @include mat.icon-button-color($dark-theme, $color-variant: tertiary);
    @include mat.fab-color($dark-theme, $color-variant: tertiary);
  }    

  .primary-button {
    @include mat.button-color($dark-theme, $color-variant: primary);
    @include mat.icon-button-color($dark-theme, $color-variant: primary);
    @include mat.fab-color($dark-theme, $color-variant: primary);
  }

  .secondary-button {
    @include mat.button-color($dark-theme, $color-variant: secondary);
    @include mat.icon-button-color($dark-theme, $color-variant: secondary);
    @include mat.fab-color($dark-theme, $color-variant: secondary);
  }

  .error-button {
    @include mat.button-color($dark-theme, $color-variant: error);
    @include mat.icon-button-color($dark-theme, $color-variant: error);
  }
}